* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
p{
    /*font-size: clamp(14px,1vw,1.5vw);*/
    font-size: clamp(0.95rem, 0.31vw + 0.81rem, 1.28rem);
}

/* ###### BODY ###### 


/*  #### HEADER ####  */
header {
    background-color: #efeded;
}
nav {
    margin: 0 10%;
    display: flex;
    gap: 10px;
    flex-direction: row;

}
nav .logo {
    position: absolute;
    background-color: white;
    top: -10px;
    padding: 15px;
    display: block;
}
.gris {
    height: 56px;
}
.blue {
    background-color: #1b3168;
    height: 56px;


}
.blue ul {
    display: flex;
    list-style: none;
    position: sticky;
    margin: 0 0 0 234px;
    color: white;
}
.blue ul li {
    padding: 18.5px 30px;
    max-height: 56px;
}
.blue ul :hover{
    background-color: #B6A886;
}

/* ###### BODY ###### */
main{
    display: flex;
    margin:0 10% 0 10%;
}

/*  #### ASIDE ####  */

aside{
    padding: 10px;
    max-width: 250px;
}

.right{
    padding: 10px;
}

/*  #### FOOTER ####  */

footer{
    margin-top: 10%;
    background-color: #B6A886;
    height: 142px;
    display:flex;
    
}

.logo_footer{
    display: flex;
    align-items: center;
    margin-left: 10%;

}

.logo_footer img{
    background: white;
    padding: 15px; 
}