@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body {
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #000;
}

.graynav {
    background-color: #efeded;
    height: 56px;
}

nav {
    background-color: #1b3168;
    display: flex;
    justify-content: space-between;
    height: 56px;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 18px;
}

nav .bgLogo {
    background-color: white;
    padding: 5px 20px;
    position: absolute;
    top: -55px;
    height: 101px;
    width: 260px;
    display: flex;
    justify-content: center;
}

nav .bgLogo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 300px;
}

nav ul li {
    height: 100%;

}

nav ul li a {
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 0 30px;
}

nav ul li a.active {
    background-color: #B6A886;
}

.formulaire {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.formulaire form {
    width: 30%;
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: #efeded;
    border: solid 4px #d9d9d9;
    border-radius: 20px;
}

.formulaire form .formGroup .formTitle {
    padding: 20px 0 40px 0;
}

.formulaire form .formGroup .inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 1.8em 1em 0;
    position: relative;
}

.formulaire form .formGroup .inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #efeded inset !important;
}
.formulaire form .formGroup .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
}
.formulaire form .formGroup .inputGroup :is(input:focus, input:valid, input:invalid)~label {
    -webkit-transform: translateY(-50%) scale(.9);
    -ms-transform: translateY(-50%) scale(.9);
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #efeded;
}
.formulaire form .formGroup .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
}
.formulaire form .formGroup .btnGroup{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulaire form .formGroup .btnGroup button{
    padding: 20px;
    border-radius: 20px;
    border: solid 4px #D9D9D9;
    cursor: pointer;
}

.accueil .msgvalide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;

}

.accueil .titlePage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

}

.accueil .titlePage h1 {
    font-weight: 900;
    color: #1b3168;
    text-decoration: underline;
}

.accueil .formEdit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accueil .formEdit form {
    display: grid;
    align-items: center;
    width: 40%;
    min-width: 250px;
}

.accueil .formEdit form label {
    font-size: 20px;
    color: #1b3168;
    padding-bottom: 5px;
}

.accueil .formEdit form label span {
    color: red;
}

.accueil .formEdit form input,
.accueil .formEdit form textarea {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: solid 2px #1b3168;
}

.accueil .formEdit form textarea {
    min-height: 50px;
}

.accueil .formEdit .btnGroup {
    display: flex;
    justify-content: center;
    align-items: center;

}

.accueil .formEdit .btnGroup button {
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 10px;
    border: solid 2px #1b3168;
    background-color: #1b3168;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: all .6s ease-in-out;
}

.accueil .formEdit .btnGroup button p {
    position: relative;
    z-index: 1;
}

.accueil .formEdit .btnGroup button .bghover {
    left: -154px;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #B6A886;
    position: absolute;
    border-radius: 10px;
    border: solid 2px #B6A886;
}

.accueil .formEdit .btnGroup button:hover {
    border: solid 2px #B6A886;
    background-color: #B6A886;
}

.accueil .formEdit .btnGroup button:hover .bghover {
    left: 0;
    transition: all .5s ease-in-out;

}

.partenaires .msgvalide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;

}

.partenaires .titlePage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.partenaires .tablepartenaires {
    display: flex;
    justify-content: center;
}

.partenaires .tablepartenaires table {
    width: 92%;
    padding: 15px;
    border: 2px solid #1b3168;
    border-radius: 10px;
}

.tablepartenaires thead tr {
    background-color: #1b3168;
    color: #ffffff;
    text-align: center;

}

.tablepartenaires th,
.tablepartenaires td {
    padding: 12px 15px;
}

.tablepartenaires tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tablepartenaires tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tablepartenaires tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.tablepartenaires tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.partenaires .tablepartenaires table thead .addPart {
    background: #1b3168;
    border-radius: 6px;
}
.partenaires .tablepartenaires table thead .addPart a {
    color: white;
}
.partenaires .tablepartenaires table thead .addPart a div {
    padding: 8px 20px;
}
.partenaires .tablepartenaires table tbody .actionBtn {
    display: grid;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.partenaires .tablepartenaires table tbody td .modifBtn,
.partenaires .tablepartenaires table tbody td .supprBtn {
    padding: 8px 15px;
    border-radius: 10px;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
}
.partenaires .tablepartenaires table tbody td .modifBtn {
    background-color: #1b3168;
}
.partenaires .tablepartenaires table tbody td .supprBtn {
    background-color: #ff0000;
}
.partenaires .tablepartenaires table tbody .imgPart img {
    max-width: 80px;
}

#modalSupprPartenaire {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    scrollbar-width: none;
}

.modal-content {
    margin-bottom: 200px !important;
}

#modalSupprPartenaire .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#modalSupprPartenaire .modal-content .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#modalSupprPartenaire .modal-content .close:hover,
#modalSupprPartenaire .modal-content .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.35s ease-in-out;
}

#modalSupprPartenaire .modal-content .title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

#modalSupprPartenaire .modal-content .modalBox {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 40px;
}

#modalSupprPartenaire .modal-content .modalBox .supprBox {
    display: grid;
    align-items: center;
}

#modalSupprPartenaire .modal-content .modalBox .supprBox .supprBtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#modalSupprPartenaire .modal-content .modalBox .supprBox .supprBtn button {
    padding: 10px 20px;
    cursor: pointer;
}

#modalModifPartenaire {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#modalModifPartenaire .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#modalModifPartenaire .modal-content .closeModif {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#modalModifPartenaire .modal-content .closeModif:hover,
#modalModifPartenaire .modal-content .closeModif:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.35s ease-in-out;
}

#modalModifPartenaire .modal-content .formBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalModifPartenaire .modal-content #formModifPartenaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgBox {
    margin: 20px 0;
}

#modalModifPartenaire .modal-content #formModifPartenaire .imgBox {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.155);
    min-height: 100px;
}

#modalModifPartenaire .modal-content #formModifPartenaire .imgBox img {
    width: 100%;
    max-width: 300px;
    transition: filter 1s ease;
}

#modalModifPartenaire .modal-content #formModifPartenaire .imgBox input {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: transparent;
    overflow: hidden;
    opacity: 0;
}

.edit-button {
    display: flex;
    opacity: 0;
    top: 50%;
    bottom: 50%;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #ffffffba;
    border-radius: 50%;
    z-index: 3;
    transition: opacity 0.3s ease,scale 0.3s ease;
}

.imgBox:hover .edit-button {
    display: flex;
    opacity: 1;
}
.edit-button:hover {
    scale: 1.1;
    opacity: 1;
    transition: scale 0.3s ease;
}
.edit-button:hover~img {
    filter: blur(3px);
}
.edit-button img {
    position: absolute;
    max-width: 32px !important;
}
.edit-button input{
    cursor: pointer !important;
}

#modalModifPartenaire .modifBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
}
#modalModifPartenaire .modifBtn button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    transition: all 0.15s ease-in-out;
}
#modalModifPartenaire .modifBtn button:hover{
    background-color: initial;
    background-position: 0 0;
}
.formModifNon{
    background: #FF4742;
    border: 1px solid #FF4742;
}
.formModifNon:hover{
    color: #FF4742 !important;
}
.formModifOui{
    background: #27bb56;
    border: 1px solid #27bb56;
}
.formModifOui:hover{
    color: #27bb56 !important;
}


.contactForm {
    width: 92%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid white;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#modalAjoutPartenaire {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
#modalAjoutPartenaire .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
#modalAjoutPartenaire .modal-content .closeAjout {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#modalAjoutPartenaire .modal-content .closeAjout:hover,
#modalAjoutPartenaire .modal-content .closeAjout:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.35s ease-in-out;
}
#modalAjoutPartenaire .modal-content .formBox {
    display: flex;
    justify-content: center;
    align-items: center;
}
#modalAjoutPartenaire .modal-content #formAjoutPartenaire {
    display: grid;
    justify-content: center;
    align-items: center;
}
#modalAjoutPartenaire .modal-content #formAjoutPartenaire .imgBox {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
#modalAjoutPartenaire .modal-content .modalBox .ajoutBtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#modalAjoutPartenaire .modal-content .modalBox .ajoutBtn button {
    padding: 10px 20px;
    cursor: pointer;
}


.billetterie .titlePage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.billetterie .tableoffres {
    display: flex;
    justify-content: center;
}
.billetterie .tableoffres table {
    width: 92%;
    padding: 15px;
    border: 2px solid #1b3168;
    border-radius: 10px;
}
.tableoffres thead tr {
    background-color: #1b3168;
    color: #ffffff;
    text-align: center;

}
.tableoffres th,
.tableoffres td {
    padding: 12px 15px;
}
.tableoffres tbody tr {
    border-bottom: 1px solid #dddddd;
}
.tableoffres tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.tableoffres tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.tableoffres tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.billetterie .tableoffres tbody .colonneDescription{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    padding-bottom: 0;
    max-width: 400px;
}
.billetterie .tableoffres table thead .addPart {
    background: #1b3168;
    border-radius: 6px;
}
.billetterie .tableoffres table thead .addPart a {
    color: white;
}
.billetterie .tableoffres table thead .addPart a div {
    padding: 8px 20px;
}
.billetterie .tableoffres table tbody .actionBtn {
    display: grid;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.billetterie .tableoffres table tbody td .modifBtn,
.billetterie .tableoffres table tbody td .supprBtn {
    padding: 8px 15px;
    border-radius: 10px;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
}
.billetterie .tableoffres table tbody td .modifBtn {
    background-color: #1b3168;
}
.billetterie .tableoffres table tbody td .supprBtn {
    background-color: #ff0000;
}
.billetterie .tableoffres table tbody .imgPart img {
    max-width: 80px;
}

#modalAjoutBilletterie {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
#modalAjoutBilletterie .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
#modalAjoutBilletterie .modal-content .closeAjout {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#modalAjoutBilletterie .modal-content .closeAjout:hover,
#modalAjoutBilletterie .modal-content .closeAjout:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.35s ease-in-out;
}
#modalAjoutBilletterie .modal-content .formBox {
    display: flex;
    justify-content: center;
    align-items: center;
}
#modalAjoutBilletterie .modal-content #formAjoutBilletterie {
    display: grid;
    justify-content: center;
    align-items: center;
}
#modalAjoutBilletterie .modal-content #formAjoutBilletterie .imgBox {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
#modalAjoutBilletterie .modal-content .modalBox .ajoutBtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#modalAjoutBilletterie .modal-content .modalBox .ajoutBtn button {
    padding: 10px 20px;
    cursor: pointer;
}
#modalAjoutBilletterie .ajoutBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
}
#modalAjoutBilletterie .ajoutBtn button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    transition: all 0.15s ease-in-out;
}
#modalAjoutBilletterie .ajoutBtn button:hover{
    background-color: initial;
    background-position: 0 0;
}
#modalAjoutBilletterie .formAjoutNon{
    background: #FF4742;
    border: 1px solid #FF4742;
}
#modalAjoutBilletterie .formAjoutNon:hover{
    color: #FF4742 !important;
}
#modalAjoutBilletterie .formAjoutOui{
    background: #27bb56;
    border: 1px solid #27bb56;
}
#modalAjoutBilletterie .formAjoutOui:hover{
    color: #27bb56 !important;
}
#modalModifBilletterie {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#modalModifBilletterie .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#modalModifBilletterie .modal-content .closeModif {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#modalModifBilletterie .modal-content .closeModif:hover,
#modalModifBilletterie .modal-content .closeModif:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.35s ease-in-out;
}

#modalModifBilletterie .modal-content .formBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalModifBilletterie .modal-content #formModifBilletterie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#modalModifBilletterie .modal-content #formModifBilletterie .imgBox {
    position: relative;
    display: flex;
    gap: 40px;
    justify-content: center;
    overflow: hidden;
}
#modalModifBilletterie .modal-content #formModifBilletterie .imgBox .Box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.155);
}
#modalModifBilletterie .modal-content #formModifBilletterie .imgBox .Box:hover .edit-button {
    display: flex;
    opacity: 1;
}
#modalModifBilletterie .modal-content #formModifBilletterie .imgBox .Box .edit-button:hover {
    scale: 1.1;
    opacity: 1;
    transition: scale 0.3s ease;
}
#modalModifBilletterie .modal-content #formModifBilletterie .imgBox .Box .edit-button:hover~img {
    filter: blur(3px);
}
#modalModifBilletterie .modal-content #formModifBilletterie .imgBox .Box .edit-button img {
    position: absolute;
    max-width: 32px !important;
}
#modalModifBilletterie .modal-content #formModifBilletterie .imgBox .Box .edit-button input{
    cursor: pointer !important;
}
#modalModifBilletterie .modal-content #formModifBilletterie .imgBox img {
    width: 100%;
    max-width: 300px;
    transition: filter 1s ease;
}

#modalModifBilletterie .modal-content #formModifBilletterie .imgBox input {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: transparent;
    overflow: hidden;
    opacity: 0;
    left: 0;
}
#modalModifBilletterie .modifBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
}
#modalModifBilletterie .modifBtn button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    transition: all 0.15s ease-in-out;
}
#modalModifBilletterie .modifBtn button:hover{
    background-color: initial;
    background-position: 0 0;
}
.formModifNon{
    background: #FF4742;
    border: 1px solid #FF4742;
}
.formModifNon:hover{
    color: #FF4742 !important;
}
.formModifOui{
    background: #27bb56;
    border: 1px solid #27bb56;
}
.formModifOui:hover{
    color: #27bb56 !important;
}