@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body {
    width: 100%;
    height: 100vh;
}
.bodyDiv, body{
    overflow-x:hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #000;
}

.graynav {
    background-color: #efeded;
    height: 56px;
}

nav {
    background-color: #1b3168;
    display: flex;
    justify-content: space-between;
    height: 56px;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 18px;
}

nav .bgLogo {
    background-color: white;
    padding: 5px 20px;
    position: absolute;
    top: -55px;
    height: 101px;
    width: 260px;
    display: flex;
    justify-content: center;
}

nav .bgLogo .img_base {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
nav .bgLogo .img_responsive {
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: none;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 300px;
}

nav ul li {
    height: 100%;
}

nav ul li a {
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 0 30px;
}

nav ul li a.active {
    background-color: #B6A886;
}
nav ul li a:hover {
    background-color: #B6A886;
}
nav .menu-burger{
    position: absolute;
    margin-top: 7px ;
    right: 5vw;
    width: 35px;
    height: 40px;
    filter: invert(100);
    display: none;
    cursor:pointer
}

.formulaire {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.formulaire form {
    width: 30%;
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: #efeded;
    border: solid 4px #d9d9d9;
    border-radius: 20px;
}

.formulaire form .formGroup .formTitle {
    padding: 20px 0 40px 0;
}

.formulaire form .formGroup .inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 1.8em 1em 0;
    position: relative;
}

.formulaire form .formGroup .inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #efeded inset !important;
}

.formulaire form .formGroup .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
}

.formulaire form .formGroup .inputGroup :is(input:focus, input:valid, input:invalid)~label {
    -webkit-transform: translateY(-50%) scale(.9);
    -ms-transform: translateY(-50%) scale(.9);
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #efeded;
}

.formulaire form .formGroup .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
}

.formulaire form .formGroup .btnGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulaire form .formGroup .btnGroup button {
    padding: 20px;
    border-radius: 20px;
    border: solid 4px #D9D9D9;
    cursor: pointer;
}

.accueil .msgvalide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;

}

.titlePage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
}
.titlePage h1 {
    font-weight: 900;
    color: #1b3168;
    text-decoration: underline;
}
.titlePage .addBtn{
    display: none;
}

.accueil .formEdit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accueil .formEdit form {
    display: grid;
    align-items: center;
    width: 40%;
    min-width: 250px;
}

.accueil .formEdit form label {
    font-size: 20px;
    color: #1b3168;
    padding-bottom: 5px;
}

.accueil .formEdit form label span {
    color: red;
}

.accueil .formEdit form input,
.accueil .formEdit form textarea {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: solid 2px #1b3168;
}

.accueil .formEdit form textarea {
    min-height: 50px;
}

.accueil .formEdit .btnGroup {
    display: flex;
    justify-content: center;
    align-items: center;

}

.accueil .formEdit .btnGroup button {
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 10px;
    border: solid 2px #1b3168;
    background-color: #1b3168;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: all .6s ease-in-out;
}

.accueil .formEdit .btnGroup button p {
    position: relative;
    z-index: 1;
}

.accueil .formEdit .btnGroup button .bghover {
    left: -154px;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #B6A886;
    position: absolute;
    border-radius: 10px;
    border: solid 2px #B6A886;
}

.accueil .formEdit .btnGroup button:hover {
    border: solid 2px #B6A886;
    background-color: #B6A886;
}

.accueil .formEdit .btnGroup button:hover .bghover {
    left: 0;
    transition: all .5s ease-in-out;

}

.partenaires .msgvalide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;

}
.partenaires .tablepartenaires {
    display: flex;
    justify-content: center;
}

.partenaires .tablepartenaires table {
    width: 92%;
    padding: 15px;
    border: 2px solid #1b3168;
    border-radius: 10px;
}

.tablepartenaires thead tr {
    color: #ffffff;
    text-align: center;

}

.tablepartenaires th,
.tablepartenaires td {
    padding: 12px 15px;
}

.tablepartenaires tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tablepartenaires tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tablepartenaires tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.partenaires .tablepartenaires table thead .addPart {
    background-color: #2b9336;
}

th {
    background-color: #1b3168;
}

.partenaires .tablepartenaires table thead .addPart a {
    color: white;
}

.partenaires .tablepartenaires table thead .addPart a div {
    padding: 8px 20px;
}
.partenaires .tablepartenaires table tbody .colonneDescription div{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        max-width: 400px;
        padding-bottom: 0;
}
.partenaires .tablepartenaires table tbody .colonneLien a{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-width: 400px;
    padding-bottom: 0;
}
.partenaires .tablepartenaires table tbody .actionBtn {
    display: grid;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.partenaires .tablepartenaires table tbody td .modifBtn,
.partenaires .tablepartenaires table tbody td .supprBtn {
    padding: 8px 15px;
    border-radius: 10px;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
}

.partenaires .tablepartenaires table tbody td .modifBtn {
    background-color: #1b3168;
}

.partenaires .tablepartenaires table tbody td .supprBtn {
    background-color: #ff0000;
}

.partenaires .tablepartenaires table tbody .imgPart img {
    max-width: 80px;
}

#modalSupprPartenaire {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    scrollbar-width: none;
}

.modal-content {
    margin-bottom: 200px !important;
}

#modalSupprPartenaire .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#modalSupprPartenaire .modal-content .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#modalSupprPartenaire .modal-content .close:hover,
#modalSupprPartenaire .modal-content .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.35s ease-in-out;
}

#modalSupprPartenaire .modal-content .title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}


#modalSupprPartenaire {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#modalSupprPartenaire .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#modalSupprPartenaire .modal-content .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#modalSupprPartenaire .modal-content .close:hover,
#modalSupprPartenaire .modal-content .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.35s ease-in-out;
}

#modalSupprPartenaire .modal-content .title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

#modalSupprPartenaire .modal-content .modalBox {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 40px;
}

#modalSupprPartenaire .modal-content .modalBox .supprBox {
    display: grid;
    align-items: center;
}

#modalSupprPartenaire .modal-content .modalBox .supprBox .supprBtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#modalSupprPartenaire .modal-content .modalBox .supprBox .supprBtn button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    transition: all 0.15s ease-in-out;
}

#modalSupprPartenaire .modal-content .modalBox .supprBox .supprBtn button:hover {
    background-color: initial;
    background-position: 0 0;
}

#modalSupprPartenaire .modal-content .modalBox .supprBox .supprBtn .formSupprNon {
    background: #FF4742;
    border: 1px solid #FF4742;
}

#modalSupprPartenaire .modal-content .modalBox .supprBox .supprBtn .formSupprNon:hover {
    color: #FF4742 !important;
}

#modalSupprPartenaire .modal-content .modalBox .supprBox .supprBtn .formSupprOui {
    background: #27bb56;
    border: 1px solid #27bb56;
}

#modalSupprPartenaire .modal-content .modalBox .supprBox .supprBtn .formSupprOui:hover {
    color: #27bb56 !important;
}

#modalModifPartenaire {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#modalModifPartenaire .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#modalModifPartenaire .modal-content .closeModif {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#modalModifPartenaire .modal-content .closeModif:hover,
#modalModifPartenaire .modal-content .closeModif:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.35s ease-in-out;
}

#modalModifPartenaire .modal-content .formBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalModifPartenaire .modal-content #formModifPartenaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgBox {
    margin: 20px 0;
}

#modalModifPartenaire .modal-content #formModifPartenaire .imgBox {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.155);
    min-height: 100px;
}

#modalModifPartenaire .modal-content #formModifPartenaire .imgBox img {
    width: 100%;
    max-width: 300px;
    transition: filter 1s ease;
}

#modalModifPartenaire .modal-content #formModifPartenaire .imgBox input {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: transparent;
    overflow: hidden;
    opacity: 0;
}

.edit-button {
    display: flex;
    opacity: 0;
    top: 50%;
    bottom: 50%;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #ffffffba;
    border-radius: 50%;
    z-index: 3;
    transition: opacity 0.3s ease, scale 0.3s ease;
}

.imgBox:hover .edit-button {
    display: flex;
    opacity: 1;
}

.edit-button:hover {
    scale: 1.1;
    opacity: 1;
    transition: scale 0.3s ease;
}

.edit-button:hover~img {
    filter: blur(3px);
}

.edit-button img {
    position: absolute;
    max-width: 32px !important;
}

.edit-button input {
    cursor: pointer !important;
}

#modalModifPartenaire .modifBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

#modalModifPartenaire .modifBtn button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    transition: all 0.15s ease-in-out;
}

#modalModifPartenaire .modifBtn button:hover {
    background-color: initial;
    background-position: 0 0;
}

.formModifNon {
    background: #FF4742;
    border: 1px solid #FF4742;
}

.formModifNon:hover {
    color: #FF4742 !important;
}

.formModifOui {
    background: #27bb56;
    border: 1px solid #27bb56;
}

.formModifOui:hover {
    color: #27bb56 !important;
}


.contactForm {
    width: 92%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid white;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

input[type=text],
select,
textarea, .modal-content input[type=password] {
    width: 100%;
    min-width: 215px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#modalAjoutPartenaire {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#modalAjoutPartenaire .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#modalAjoutPartenaire .modal-content .closeAjout {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#modalAjoutPartenaire .modal-content .closeAjout:hover,
#modalAjoutPartenaire .modal-content .closeAjout:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.35s ease-in-out;
}

#modalAjoutPartenaire .modal-content .formBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalAjoutPartenaire .modal-content #formAjoutPartenaire {
    display: grid;
    justify-content: center;
    align-items: center;
}

#modalAjoutPartenaire .modal-content #formAjoutPartenaire .imgBox {
    position: relative;
    display: flex;
    gap: 40px;
    justify-content: center;
    overflow: hidden;
}

#modalAjoutPartenaire .modal-content #formAjoutPartenaire .imgBox .Box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.155);
}

#modalAjoutPartenaire .modal-content #formAjoutPartenaire .imgBox .Box:hover .edit-button {
    display: flex;
    opacity: 1;
}

#modalAjoutPartenaire .modal-content #formAjoutPartenaire .imgBox .Box .edit-button:hover {
    scale: 1.1;
    opacity: 1;
    transition: scale 0.3s ease;
}

#modalAjoutPartenaire .modal-content #formAjoutPartenaire .imgBox .Box .edit-button:hover~img {
    filter: blur(3px);
}

#modalAjoutPartenaire .modal-content #formAjoutPartenaire .imgBox .Box .edit-button img {
    position: absolute;
    max-width: 32px !important;
}

#modalAjoutPartenaire .modal-content #formAjoutPartenaire .imgBox .Box .edit-button input {
    cursor: pointer !important;
}

#modalAjoutPartenaire .modal-content #formAjoutPartenaire .imgBox img {
    width: 100%;
    max-width: 300px;
    transition: filter 1s ease;
}

#modalAjoutPartenaire .modal-content #formAjoutPartenaire .imgBox input {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: transparent;
    overflow: hidden;
    opacity: 0;
    left: 0;
}

#modalAjoutPartenaire .ajoutBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

#modalAjoutPartenaire .ajoutBtn button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    transition: all 0.15s ease-in-out;
}

#modalAjoutPartenaire .ajoutBtn button:hover {
    background-color: initial;
    background-position: 0 0;
}

#modalAjoutPartenaire .formAjoutNon {
    background: #FF4742;
    border: 1px solid #FF4742;
}

#modalAjoutPartenaire .formAjoutNon:hover {
    color: #FF4742 !important;
}

#modalAjoutPartenaire .formAjoutOui {
    background: #27bb56;
    border: 1px solid #27bb56;
}

#modalAjoutPartenaire .formAjoutOui:hover {
    color: #27bb56 !important;
}


.billetterie .tableoffres {
    display: flex;
    justify-content: center;
}

.billetterie .tableoffres table {
    width: 92%;
    padding: 15px;
    border: 2px solid #1b3168;
    border-radius: 10px;
}

.tableoffres thead tr {
    color: #ffffff;
    text-align: center;

}

.tableoffres th,
.tableoffres td {
    padding: 12px 15px;
}

.tableoffres tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tableoffres tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tableoffres tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.billetterie .tableoffres tbody .colonneDescription div{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-width: 400px;
    padding-bottom: 0;
}

.billetterie .tableoffres table thead .addPart {
    background-color: #2b9336;
}

th:first-of-type {
    border-radius: 6px 0 0 6px;
}

th:last-of-type {
    border-radius: 0 6px 6px 0;
}

.billetterie .tableoffres table thead .addPart a {
    color: white;
}

.billetterie .tableoffres table thead .addPart a div {
    padding: 8px 20px;
}

.billetterie .tableoffres table tbody .actionBtn {
    display: grid;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.billetterie .tableoffres table tbody td .modifBtn,
.billetterie .tableoffres table tbody td .supprBtn {
    padding: 8px 15px;
    border-radius: 10px;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
}

.billetterie .tableoffres table tbody td .modifBtn {
    background-color: #1b3168;
}

.billetterie .tableoffres table tbody td .supprBtn {
    background-color: #ff0000;
}

.billetterie .tableoffres table tbody .imgPart img {
    max-width: 80px;
}

#modalAjoutBilletterie {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#modalAjoutBilletterie .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#modalAjoutBilletterie .modal-content .closeAjout {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#modalAjoutBilletterie .modal-content .closeAjout:hover,
#modalAjoutBilletterie .modal-content .closeAjout:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.35s ease-in-out;
}

#modalAjoutBilletterie .modal-content .formBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalAjoutBilletterie .modal-content #formAjoutBilletterie {
    display: grid;
    justify-content: center;
    align-items: center;
}

#modalAjoutBilletterie .modal-content #formAjoutBilletterie .imgBox {
    position: relative;
    display: flex;
    gap: 40px;
    justify-content: center;
    overflow: hidden;
}

#modalAjoutBilletterie .modal-content #formAjoutBilletterie .imgBox .Box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.155);
}

#modalAjoutBilletterie .modal-content #formAjoutBilletterie .imgBox .Box:hover .edit-button {
    display: flex;
    opacity: 1;
}

#modalAjoutBilletterie .modal-content #formAjoutBilletterie .imgBox .Box .edit-button:hover {
    scale: 1.1;
    opacity: 1;
    transition: scale 0.3s ease;
}

#modalAjoutBilletterie .modal-content #formAjoutBilletterie .imgBox .Box .edit-button:hover~img {
    filter: blur(3px);
}

#modalAjoutBilletterie .modal-content #formAjoutBilletterie .imgBox .Box .edit-button img {
    position: absolute;
    max-width: 32px !important;
}

#modalAjoutBilletterie .modal-content #formAjoutBilletterie .imgBox .Box .edit-button input {
    cursor: pointer !important;
}

#modalAjoutBilletterie .modal-content #formAjoutBilletterie .imgBox img {
    width: 100%;
    max-width: 300px;
    transition: filter 1s ease;
}

#modalAjoutBilletterie .modal-content #formAjoutBilletterie .imgBox input {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: transparent;
    overflow: hidden;
    opacity: 0;
    left: 0;
}

#modalAjoutBilletterie .modal-content .modalBox .ajoutBtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#modalAjoutBilletterie .modal-content .modalBox .ajoutBtn button {
    padding: 10px 20px;
    cursor: pointer;
}

#modalAjoutBilletterie .ajoutBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

#modalAjoutBilletterie .ajoutBtn button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    transition: all 0.15s ease-in-out;
}

#modalAjoutBilletterie .ajoutBtn button:hover {
    background-color: initial;
    background-position: 0 0;
}

#modalAjoutBilletterie .formAjoutNon {
    background: #FF4742;
    border: 1px solid #FF4742;
}

#modalAjoutBilletterie .formAjoutNon:hover {
    color: #FF4742 !important;
}

#modalAjoutBilletterie .formAjoutOui {
    background: #27bb56;
    border: 1px solid #27bb56;
}

#modalAjoutBilletterie .formAjoutOui:hover {
    color: #27bb56 !important;
}

#modalModifBilletterie {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#modalModifBilletterie .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#modalModifBilletterie .modal-content .closeModif {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#modalModifBilletterie .modal-content .closeModif:hover,
#modalModifBilletterie .modal-content .closeModif:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.35s ease-in-out;
}

#modalModifBilletterie .modal-content .formBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalModifBilletterie .modal-content #formModifBilletterie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#modalModifBilletterie .modal-content #formModifBilletterie .imgBox {
    position: relative;
    display: flex;
    gap: 40px;
    justify-content: center;
    overflow: hidden;
}

#modalModifBilletterie .modal-content #formModifBilletterie .imgBox .Box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.155);
}

#modalModifBilletterie .modal-content #formModifBilletterie .imgBox .Box:hover .edit-button {
    display: flex;
    opacity: 1;
}

#modalModifBilletterie .modal-content #formModifBilletterie .imgBox .Box .edit-button:hover {
    scale: 1.1;
    opacity: 1;
    transition: scale 0.3s ease;
}

#modalModifBilletterie .modal-content #formModifBilletterie .imgBox .Box .edit-button:hover~img {
    filter: blur(3px);
}

#modalModifBilletterie .modal-content #formModifBilletterie .imgBox .Box .edit-button img {
    position: absolute;
    max-width: 32px !important;
}

#modalModifBilletterie .modal-content #formModifBilletterie .imgBox .Box .edit-button input {
    cursor: pointer !important;
}

#modalModifBilletterie .modal-content #formModifBilletterie .imgBox img {
    width: 100%;
    max-width: 300px;
    transition: filter 1s ease;
}

#modalModifBilletterie .modal-content #formModifBilletterie .imgBox input {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: transparent;
    overflow: hidden;
    opacity: 0;
    left: 0;
}

#modalModifBilletterie .modifBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

#modalModifBilletterie .modifBtn button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    transition: all 0.15s ease-in-out;
}

#modalModifBilletterie .modifBtn button:hover {
    background-color: initial;
    background-position: 0 0;
}

.formModifNon {
    background: #FF4742;
    border: 1px solid #FF4742;
}

.formModifNon:hover {
    color: #FF4742 !important;
}

.formModifOui {
    background: #27bb56;
    border: 1px solid #27bb56;
}

.formModifOui:hover {
    color: #27bb56 !important;
}

#modalSupprBilletterie {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#modalSupprBilletterie .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#modalSupprBilletterie .modal-content .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#modalSupprBilletterie .modal-content .close:hover,
#modalSupprBilletterie .modal-content .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.35s ease-in-out;
}

#modalSupprBilletterie .modal-content .title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

#modalSupprBilletterie .modal-content .modalBox {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 40px;
}

#modalSupprBilletterie {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#modalSupprBilletterie .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#modalSupprBilletterie .modal-content .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#modalSupprBilletterie .modal-content .close:hover,
#modalSupprBilletterie .modal-content .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.35s ease-in-out;
}

#modalSupprBilletterie .modal-content .title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

#modalSupprBilletterie .modal-content .modalBox {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 40px;
}

#modalSupprBilletterie .modal-content .modalBox .supprBox {
    display: grid;
    align-items: center;
    gap: 30px;
}

#modalSupprBilletterie .modal-content .modalBox .supprBox .supprBtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#modalSupprBilletterie .modal-content .modalBox .supprBox .supprBtn button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    transition: all 0.15s ease-in-out;
}

#modalSupprBilletterie .modal-content .modalBox .supprBox .supprBtn button:hover {
    background-color: initial;
    background-position: 0 0;
}

#modalSupprBilletterie .modal-content .modalBox .supprBox .supprBtn .formSupprNon {
    background: #FF4742;
    border: 1px solid #FF4742;
}

#modalSupprBilletterie .modal-content .modalBox .supprBox .supprBtn .formSupprNon:hover {
    color: #FF4742 !important;
}

#modalSupprBilletterie .modal-content .modalBox .supprBox .supprBtn .formSupprOui {
    background: #27bb56;
    border: 1px solid #27bb56;
}

#modalSupprBilletterie .modal-content .modalBox .supprBox .supprBtn .formSupprOui:hover {
    color: #27bb56 !important;
}

/* Slideshow container */
#modalSupprBilletterie .modal-content .modalBox .slider {
    max-width: 250px;
    position: relative;
}

#modalSupprBilletterie .modal-content .modalBox .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

#modalSupprBilletterie .modal-content .modalBox .slideshow-container .mySlides {
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalSupprBilletterie .modal-content .modalBox .slideshow-container .mySlides img {
    z-index: 1;
    width: 150px;
    height: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
}

/* Next & previous buttons */
#modalSupprBilletterie .modal-content .modalBox .boxSlider .prev,
#modalSupprBilletterie .modal-content .modalBox .boxSlider .next {
    cursor: pointer;
    position: absolute;
    z-index: 4;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: background-color 0.3s;
}

#modalSupprBilletterie .modal-content .modalBox .boxSlider .prev,
#modalSupprBilletterie .modal-content .modalBox .boxSlider .next {
    width: 40px;
}

/* Position the "next button" to the right */
#modalSupprBilletterie .modal-content .modalBox .boxSlider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

#modalSupprBilletterie .modal-content .modalBox .boxSlider .prev {
    left: 0;

}

#modalSupprBilletterie .modal-content .modalBox .boxSlider .prev:hover,
#modalSupprBilletterie .modal-content .modalBox .boxSlider .next:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

#modalSupprBilletterie .modal-content .modalBox .boxSlider .dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #C4C4C4;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

#modalSupprBilletterie .modal-content .modalBox .boxSlider .active,
#modalSupprBilletterie .modal-content .modalBox .boxSlider .dot:hover {
    background-color: #000;
}

.message .tablemessages {
    display: flex;
    justify-content: center;
}

.message .tablemessages table {
    width: 92%;
    padding: 15px;
    border: 2px solid #1b3168;
    border-radius: 10px;
}

.tablemessages thead tr {
    color: #ffffff;
    text-align: center;

}

.tablemessages th,
.tablemessages td {
    padding: 12px 15px;
}

.tablemessages tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tablemessages tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tablemessages tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.message .tablemessages tbody .colonneContenu div{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-width: 400px;
    padding-bottom: 0;
}

.message .tablemessages table thead .addPart {
    background-color: #2b9336;
    
}

.message .tablemessages table thead .addPart a {
    color: white;
}

.message .tablemessages table thead .addPart a div {
    padding: 8px 20px;
}

.message .tablemessages table tbody .actionBtn {
    display: grid;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.message .tablemessages table tbody td .modifBtn,
.message .tablemessages table tbody td .supprBtn,
.message .tablemessages table tbody td .afficherBtn {
    padding: 8px 15px;
    border-radius: 10px;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
}
.message .tablemessages table tbody td .afficherBtn {
    background-color: #1b3168;
}
.message .tablemessages table tbody td .modifBtn {
    background-color: #1b3168;
}

.message .tablemessages table tbody td .supprBtn {
    background-color: #ff0000;
}

.message .tablemessages table tbody .imgPart img {
    max-width: 80px;
}

.message .tablemessages table tbody .actionBtn {
    display: grid;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.message .tablemessages table tbody td .supprBtn {
    padding: 8px 15px;
    border-radius: 10px;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
}

.message .tablemessages table tbody td .supprBtn {
    background-color: #ff0000;
}

#modalSupprMessage {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#modalSupprMessage .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#modalSupprMessage .modal-content .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#modalSupprMessage .modal-content .close:hover,
#modalSupprMessage .modal-content .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.35s ease-in-out;
}

#modalSupprMessage .modal-content .title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

#modalSupprMessage .modal-content .modalBox {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 40px;
}

#modalSupprMessage .modal-content .modalBox .supprBox {
    display: grid;
    align-items: center;
    gap: 30px;
}

#modalSupprMessage .modal-content .modalBox .supprBox .supprBtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#modalSupprMessage .modal-content .modalBox .supprBox .supprBtn button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    transition: all 0.15s ease-in-out;
}

#modalSupprMessage .modal-content .modalBox .supprBox .supprBtn button:hover {
    background-color: initial;
    background-position: 0 0;
}

#modalSupprMessage .modal-content .modalBox .supprBox .supprBtn .formSupprNon {
    background: #FF4742;
    border: 1px solid #FF4742;
}

#modalSupprMessage .modal-content .modalBox .supprBox .supprBtn .formSupprNon:hover {
    color: #FF4742 !important;
}

#modalSupprMessage .modal-content .modalBox .supprBox .supprBtn .formSupprOui {
    background: #27bb56;
    border: 1px solid #27bb56;
}

#modalSupprMessage .modal-content .modalBox .supprBox .supprBtn .formSupprOui:hover {
    color: #27bb56 !important;
}

/* TOUTES LES MODAL AFFICHER */

#modalAfficher {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#modalAfficher .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#modalAfficher .modal-content .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#modalAfficher .modal-content .close:hover,
#modalAfficher .modal-content .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.35s ease-in-out;
}

#modalAfficher .modal-content .title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

#modalAfficher .modal-content .modalBox {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 40px;
}

#modalAfficher .modal-content .modalBox .afficherBox {
    display: grid;
    align-items: center;
}

#modalAfficher .modal-content .modalBox .afficherBox .closeBtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#modalAfficher .modal-content .modalBox .afficherBox .closeBtn button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    transition: all 0.15s ease-in-out;
}

#modalAfficher .modal-content .modalBox .afficherBox .closeBtn .formSupprNon {
    background: #FF4742;
    border: 1px solid #FF4742;
}

#modalAfficher .modal-content .modalBox .afficherBox .closeBtn .formSupprNon:hover {
    color: #FF4742 !important;
    background: initial;
    background-position: 0 0;
}

#modalAfficher .styleBoxAfficher{
    width: 100%;
    min-width: 215px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
#modalAfficher .styleBoxAfficherMessage{
    min-height:100px ;
}

#modalAfficher .ModalAfficherTitle{
    color: #1B3168 !important;
    font-weight: 600;
}
/* FIN CSS MODAL AFFICHER */

/* MODAL UTILISATEUR */

#modalAjoutUtilisateur {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
#modalAjoutUtilisateur .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
#modalAjoutUtilisateur .modal-content .closeAjout {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#modalAjoutUtilisateur .modal-content .closeAjout:hover,
#modalAjoutUtilisateur .modal-content .closeAjout:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.35s ease-in-out;
}
#modalAjoutUtilisateur .modal-content .formBox {
    display: flex;
    justify-content: center;
    align-items: center;
}
#modalAjoutUtilisateur .modal-content #formAjoutUtilisateur {
    display: grid;
    justify-content: center;
    align-items: center;
}
#modalAjoutUtilisateur .modal-content .modalBox .ajoutBtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#modalAjoutUtilisateur .modal-content .modalBox .ajoutBtn button {
    padding: 10px 20px;
    cursor: pointer;
}

#modalAjoutUtilisateur .ajoutBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

#modalAjoutUtilisateur .ajoutBtn button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    transition: all 0.15s ease-in-out;
}

#modalAjoutUtilisateur .ajoutBtn button:hover {
    background-color: initial;
    background-position: 0 0;
}

#modalAjoutUtilisateur .formAjoutNon {
    background: #FF4742;
    border: 1px solid #FF4742;
}

#modalAjoutUtilisateur .formAjoutNon:hover {
    color: #FF4742 !important;
}

#modalAjoutUtilisateur .formAjoutOui {
    background: #27bb56;
    border: 1px solid #27bb56;
}

#modalAjoutUtilisateur .formAjoutOui:hover {
    color: #27bb56 !important;
}


#modalModifUtilisateur {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#modalModifUtilisateur .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#modalModifUtilisateur .modal-content .closeModif {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#modalModifUtilisateur .modal-content .closeModif:hover,
#modalModifUtilisateur .modal-content .closeModif:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.35s ease-in-out;
}

#modalModifUtilisateur .modal-content .formBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalModifUtilisateur .modal-content #formModifUtilisateur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#modalModifUtilisateur .modifBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

#modalModifUtilisateur .modifBtn button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    transition: all 0.15s ease-in-out;
}

#modalModifUtilisateur .modifBtn button:hover {
    background-color: initial;
    background-position: 0 0;
}


#modalSupprUtilisateur {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#modalSupprUtilisateur .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#modalSupprUtilisateur .modal-content .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#modalSupprUtilisateur .modal-content .close:hover,
#modalSupprUtilisateur .modal-content .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.35s ease-in-out;
}

#modalSupprUtilisateur .modal-content .title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

#modalSupprUtilisateur .modal-content .modalBox {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 40px;
}

#modalSupprUtilisateur .modal-content .modalBox .supprBox {
    display: grid;
    align-items: center;
    gap: 30px;
}

#modalSupprUtilisateur .modal-content .modalBox .supprBox .supprBtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#modalSupprUtilisateur .modal-content .modalBox .supprBox .supprBtn button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    transition: all 0.15s ease-in-out;
}

#modalSupprUtilisateur .modal-content .modalBox .supprBox .supprBtn button:hover {
    background-color: initial;
    background-position: 0 0;
}

#modalSupprUtilisateur .modal-content .modalBox .supprBox .supprBtn .formSupprNon {
    background: #FF4742;
    border: 1px solid #FF4742;
}

#modalSupprUtilisateur .modal-content .modalBox .supprBox .supprBtn .formSupprNon:hover {
    color: #FF4742 !important;
}

#modalSupprUtilisateur .modal-content .modalBox .supprBox .supprBtn .formSupprOui {
    background: #27bb56;
    border: 1px solid #27bb56;
}

#modalSupprUtilisateur .modal-content .modalBox .supprBox .supprBtn .formSupprOui:hover {
    color: #27bb56 !important;
}


/* Pagination */

.pagination {
    align-items: center;
    margin: 20px auto;
    justify-content: center;
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}

.pagination span {
    height: 55px;
    width: 55px;
    color: white;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
}

.pagination span:hover {
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.page {
    background-color: #1B3168;
    border: #1B3168 solid 2px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.activepage {
    border: #B6A886 solid 3px !important;
}


/* RESPONSIVE */

@media only screen and (max-width: 1150px) {

    table,
    thead,
    tbody,
    th,
    td,
    tr {

        display: block
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }


    .tablemessages th,
    .tablemessages td {
        padding-top: 12px !important;
    }

    td {
        position: relative;
        padding-left: 50% !important;
        white-space: normal;
        text-align: left;
        max-width: 500px !important;
        word-wrap: break-word;
    }

    td:before {
        position: absolute;
        top: 0px;
        left: 6px;
        width: 30%;
        padding-right: 10px;
        font-weight: bold;
        color: #1b3168;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        content: attr(data-title);
        height: 100%;
        border-right: 2px solid #1b316838;
    }

    /* add colors */
    tbody td:nth-of-type(even) {
        background-color: #ffffff;
    }

    tbody td:nth-of-type(odd) {
        background-color: #f3f3f3;
    }
    /* add colors */

    .actionBtn {
        display: flex !important;
        flex-direction: row;
    }

    tr {
        border: 1px solid #1b316838 !important;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    td:first-of-type {
        border-radius: 10px 10px 0 0;
    }

    td:last-of-type {
        border-radius: 0 0 10px 10px;
    }

    .imgPart {
        justify-content: center;
        margin: auto;
        display: flex;
    }

    /*  Add button */
    .titlePage{
        flex-direction: column;
        
    }
    .titlePage .addBtn{
        background-color: #2b9336;
        border-radius: 10px;
        display: block;
        margin-top: 20px;
    }
    .titlePage .addBtn a{
        color: white;
    }
    .titlePage .addBtn a div{
        padding: 8px 20px;
    } 

    /* Nav responsive */
    nav {
        padding-right: 0;
    }
    nav .menu-burger{
        display: block;
    }
    nav .bgLogo .img_base{
        display: none;
    }
    nav .bgLogo .img_responsive{
        display: block;
    }
    nav ul.links {
        position: absolute;
        flex-direction: column;
        margin-top: 56px;
        margin-left: 150%;
        z-index: 2;
    }
    nav .links.mobile-menu{
        margin-left: calc(90% - 170.03px);
        transition: all .5s ease-in;
    }
    nav .links li{
        height: 56px;
        width: 100%;
        background-color: #1B3168;
    }
    nav .links li a{
        height: 56px;
        background-color: #1B3168;
    }


}

td:nth-child(1):before {
    padding-top: 6px;
}

@media only screen and (max-width: 670px) {
    td {
        padding-left: 40% !important;
    }

}

@media only screen and (max-width: 450px) {
    nav {
        padding-left: 0 !important;
        transition: padding-left 0.25s ease-in;
    }
    nav .bgLogo{
        width: 40%;
    }
    nav .links.mobile-menu{
        margin-left: calc(100% - 170.03px);
    }
    /* Direction Boutons table */ 
    .actionBtn{
        flex-direction: column;
    }

    /* Font table */
    table tbody tr td{
        font-size: 12px;
    }

    .pagination span{
        height: 35px;
        width: 35px;
    }
}