* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.bodyDiv,
body {
    overflow-x: hidden;
    position: relative;
    width: 100vw;
}

p {
    /*font-size: clamp(14px,1vw,1.5vw);*/
    font-size: clamp(0.95rem, 0.31vw + 0.81rem, 1.28rem);
    white-space: pre-line;
}

h1 {
    font-weight: 400;
    margin: 3vh 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}


.chevron-droit {
    max-width: 14px;
    max-height: 14px;
}

.active {
    background-color: #B6A886;
}

.no-transition * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

/* ###### BODY ###### */
main {
    display: flex;
    margin: 0 10%;
}


/*  #### HEADER ####  */
header {
    background-color: #efeded;
    position: relative;
    z-index: 5;
    
}

nav {
    margin: 0 10%;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

nav .logo {
    position: absolute;
    background-color: white;
    top: -10px;
    padding: 15px;
    display: block;
}

span .logo_st_vincent_responsive {
    width: 50%;
    position: absolute;
}

span .logo_st_vincent_responsive img {
    width: 100%;
    object-fit: cover;
}

.logo_responsive {
    width: 10%;
}

.gris {
    height: 56px;
}

.blue {
    background-color: #1b3168;
    height: 56px;
}

.blue ul {
    display: flex;
    list-style: none;
    position: sticky;
    margin: 0 0 0 234px;
    color: white;
    transition: color 0.1s ease-in-out;
}

.blue ul li {
    padding: 18.5px 30px;
    max-height: 56px;
    color: white;
}

.blue ul :hover {
    background-color: #B6A886;
}

.menu-burger {
    position: absolute;
    margin-top: 7px;
    right: 5vw;
    width: 35px;
    height: 40px;
    filter: invert(100);
    display: none;
}







/*  #### ASIDE ####  */

aside {
    padding: 10px;
    max-width: 250px;
}

.img_responsive {
    display: none;
}

aside.left div {
    padding-bottom: 10px;
}

aside.left .sectiontitle {
    font-size: 22px;
    padding-bottom: 20px;
    color: #B6A886;
}

aside.left .home {
    display: flex;
    align-items: center;
    padding: 15px 5px;
}

aside.left .home img {
    width: 22px;
}

aside.left .home img:nth-child(2) {
    width: 14px;
    padding-right: 3px;
}

aside.left .home .sectiontitle {
    padding-bottom: 0;
}

aside.left .chevron-droit {
    width: 12px;
}

aside.left .infocontact div {
    display: flex;
    padding-bottom: 10px;
}

aside.left .infocontact div:last-child {
    display: flex;
    align-items: baseline;
}

aside.left .infocontact div p span {
    color: #1b3168;
}

.partenaire{
    width: 230px;
}

aside.left .partenaire .mySlides {
    display: none
}

aside.left .partenaire img {
    vertical-align: middle;
}

aside.left .partenaire .boxSlider {
    padding: 30px 0px 0 0px;
    background: rgba(27, 49, 104, 0.1);
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contactaccess a,
.offreaccess a {
    color: #000;
}

.place a {
    color: rgb(0, 102, 204);
}

/* Slideshow container */
aside.left .partenaire .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySlides img {
    z-index: 1;
    width: 150px;
    height: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
}

.mySlides p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 150px;
    font-weight: bold;
    opacity: 0;
    color: #000000;
}

.mySlides p:hover {
    border-radius: 10px;
    transition: 0.3s ease;
    background-color: rgba(255, 255, 255, 0.653);
    opacity: 1;
}



/* Next & previous buttons */
aside.left .partenaire .prev,
aside.left .partenaire .next {
    cursor: pointer;
    position: absolute;
    z-index: 0;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: background-color 0.3s;
}

aside.left .partenaire .prev,
aside.left .partenaire .next {
    width: 40px;
}

/* Position the "next button" to the right */
aside.left .partenaire .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

aside.left .partenaire .prev {
    left: 0;

}

/* On hover, add a black background color with a little bit see-through */
aside.left .partenaire .prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

/* The dots/bullets/indicators */
aside.left .partenaire .dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #C4C4C4;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

aside.left .partenaire .active,
.dot:hover {
    background-color: #000;
}

aside.left .decouverte {
    display: flex;
    justify-content: center;

}

aside.left .decouverte a {
    font-size: 14px;
    text-decoration: underline;
    text-align: center;
}

aside.left a {
    transition: opacity 0.3s ease;
}

.offreaccess a:hover,
.contactaccess a:hover,
.tel a:hover,
.email a:hover,
.place a:hover,
.decouverte a:hover {
    opacity: 0.5;
}





/*  #### ACCUEIL ####  */

.right {
    width: 100%;
    padding: 10px 10px;
}

.info_accueil {
    margin: 5vh 0 3vh;
    padding: 10px;
    background-color: #D9D9D9;

}

.titre {
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    color: #1B3168;
    font-family: 'Inter', sans-serif;
}

.info_accueil p {
    padding: 10px;
}

/*  #### OFFRES ####  */

.offre_billetterie {
    margin-top: 3vh;
    padding: 15px;
    background-color: #EFEDED;

}

.offre_billetterie_header {
    background-color: #EFEDED;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.offre_billetterie_header span {
    margin-bottom: 8px;
}

.tag_offre {
    display: inline-block;
    max-width: 146px;
    width: 100%;
    height: 22px;
    padding: 5px;
    color: white;
    background-color: #1B3168;
    border-radius: 7px;
    font-weight: 400;
    font-size: 10px;
    text-align: center;
}

.date_offre {
    padding-left: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.offre_learnmore {
    width: fit-content;
    display: block;
    text-align: end;
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;
    left: 100%;
    position: sticky;
    margin-top: 10px;
    text-decoration: none !important;
}

.offre_learnmore:hover {
    opacity: 0.5;
    scale: 1.05;
}

.div_offre_decouvrir{
    width: 100%;
    display: flex;
    justify-content: center;
}

#offres_decouvrir {
    margin-top: 3vh;
    display: flex;
    width: fit-content;
    padding: 10px 20px;
    color: white;
    background-color: #1B3168;
    border-radius: 7px;
    text-align: center;
    transition: all 0.1s ease-in-out;
}


#offres_decouvrir:hover {
    scale: 1.03;
    opacity: 0.9;
}




/*  #### PARTENARIATS ####  */

.right_partenaire {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.right_partenaire h1,
.right_billetterie h1,
.right_contact h1 {
    text-align: center;
}

.partenaires_grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    width: 60vw;
    height: auto;
    margin-top: 3vh;
    padding: 15px;
    background-color: #EFEDED;
}

.partenaires_grid-item {
    width: 150px;
    height: 150px;
    color: red;
    text-align: center;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 10px;
}

.partenaires_grid-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.pagination {
    align-items: center;
    margin: 20px auto;
    justify-content: center;
    display: flex;
    gap: 20px
}

.pagination span {
    height: 55px;
    width: 55px;
    color: white;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
}

.pagination span:hover {
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.page {
    background-color: #1B3168;
    border: #1B3168 solid 2px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.activepage {
    border: #B6A886 solid 3px !important;
}

.etc {
    color: rgba(0, 0, 0, 0.674) !important;
    align-items: end;
    justify-content: center;
    display: flex;
    font-weight: 900;
    font-size: 35px;
    letter-spacing: 2px;
    cursor: default !important;
    opacity: 1 !important;
}

/*  #### BILLETTERIE #### */

.right_billetterie {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 15px;
}

/* #### CONTENU BILLETTERIE #### */

.divImagesOffre{
    border-radius:20px;
    position: relative;
    z-index: 0;
    display:flex;
    flex-direction: row;
    height: 300px;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.divImagesOffre :hover{
    filter: blur(0px);
}

.divImagesOffre img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.date_contenu_offre_billetterie {
    padding-top: 25px;
}

.back {
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.back :hover {
    opacity: 0.60;
}

.img_partenaire {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    width: 100%;
}

.contain_img_partenaire {
    width: 30%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(27, 49, 104, 0.1);
}

.contain_img_partenaire h1 {
    font-size: 20px;
}

.contain_img_partenaire a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    padding-bottom: 10%;
    border-radius: 20px;
}


.contain_img_partenaire img {
    z-index: 3;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.contain_img_partenaire p {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    z-index: 2;
    color: #000000;
}

.contain_img_partenaire img:hover {
    opacity: 0.25;
    z-index: 2;
    transition: 0.2s ease-in-out;
}






/*  #### FOOTER ####  */

footer {
    padding: 20px 0;
    background-color: #B6A886;
    min-width: 100%;
    display: flex;
}

.left_footer {
    display: flex;
    align-items: center;
    margin-left: 10%;

}

.logo_footer {
    width: 100%;
}

.logo_footer img {
    background: white;
    padding: 15px;
}

#linkImgFooter{
    display: flex;
    justify-content: center;
}

.right_footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.title_footer {
    font-size: 65%;
    color: white;
}

.links_footer {
    max-width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.links_footer a {
    color: white;
}

.links_footer li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}


.links_list_footer {
    width: 100%;
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    align-items: center;
}

.links_list_footer img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.links_footer li:hover {
    transition: 0.5s;
    filter: invert(15%);
    transform: scale(0.97);
}

/* #### RESPONSIVE #### */
@media screen and (max-width: 1080px) {

    /* Responsive Header */
    .links {
        position: absolute;
        width: 100%;
        animation: slideMenuBurgerExit 2s ease;
        -webkit-animation: slideMenuBurgerExit 2s ease;
        margin: 55px 0 0 100%;
    }

    .mobile-menu {
        z-index: 50;
        width: 100%;
        position: absolute;
        background: black;
        animation: slideMenuBurger 0.5s ease;
        -webkit-animation: slideMenuBurger 0.5s ease;
        margin: 56px 0 0 350px;
    }

    .blue ul {
        display: block;
        margin-left: 0;
        width: 100%;
        background: #1B3168;
        color: #B6A886;
    }

    .blue li {
        width: 100%;
    }

    .logo {
        margin: 0 0 0 -10vw;
    }

    .img_responsive {
        padding: 15px 0;
        display: block;
        object-fit: cover;
    }

    .img_base {
        display: none;
    }

    .menu-burger {
        display: block;
        cursor: pointer;
    }


    /* Responsive Main */
    main {
        flex-direction: column-reverse;
        margin: 0;
    }

    /* Responsive Aside */

    

    aside{
        background-color: #EFEDED;
    }


    .left {
        max-width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    .fastaccess,
    aside.left .home {
        display: none;
    }
    .sectiontitle{
        justify-content: center;
        display: flex;
        padding-bottom: 10px !important;
        margin: 12px 0;
        color: #1b3168;
    }
    .infocontact div{
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .infocontact p{
        white-space: normal;
    }


    /* Responsive footer */
    footer {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .right_footer {
        align-items: center;
        justify-content: center;
        padding: 0 0 20px 0;
    }

    .logo_footer img {
        opacity: 1;
    }

    .left_footer {
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    .links_footer ul {
        flex-direction: column;
    }

    .logo_footer {
        display: flex;
        justify-content: center;
    }

    footer .img_responsive {
        background: none;
        width: 30%;
    }

    /* Responsive Contenu Billetterie */

    .contain_img_partenaire {
        min-width: 150px;
    }

    /* Responsive Contenu Partenaire */

    .partenaires_grid-container{
        width: 80vw;
    }


}

@keyframes slideMenuBurger {
    from {
        margin: 55px 0 0 1000px;
    }

    to {
        margin: 56px 0 0 calc(width - 350);
    }

}

@keyframes slideMenuBurgerExit {
    from {
        margin: 56px 0 0 calc(width - 350);
    }

    to {
        margin: 55px 0 0 100%;
    }

}

@media screen and (max-width: 584px) {

    .mobile-menu {
        z-index: 50;
        width: 100%;
        position: absolute;
        background: black;
        margin: 56px 0 0 20px;
        animation: slideMenuBurger 1s;
        -webkit-animation: slideMenuBurger 1s;
    }


}