.right_contact {
  width: 100%;
}

.erreur {
  display: inline;
  margin-left: 10px;
  color: #ff0000b2 !important;
  font-weight: 600;
  line-height: 20px;
}

.success {
  display: block;
  color: #00a669;
  margin: 10px 0;
  font-weight: 500;
  font-size: 1.2rem;
}

.contactForm {
  width: 92%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 30px;
  background-color: white;
}

.contactForm>form {
  width: 100%;
}
.contactForm form .PackNom  {
  display: flex;
  gap: 1vw;
}


.displayNone{
  transition: display 200ms;
  display: none !important;
  visibility: hidden;
  opacity: 0;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50vw);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideOutRight {
  from {
    opacity: 1 !important;
    transform: translateX(0);
    display: block;
  }
  to {
    transform: translateX(50vw);
    opacity: 0 !important;
    display: none !important;
  }
}

@keyframes leftSelectIn {
  from {
    width: 200%;
  }
  to {
    width: 100%;
  }
}

@keyframes leftSelectOut {
  from {
    width: 100%;
  }
  to {
    width: 202.45%;
  }
}
.displaySelectIn{
  animation: leftSelectIn 1s;
}
.displaySelectOut{
  animation: leftSelectOut 1s;
}

.displayFlex{
  visibility: visible;
  opacity: 1;
  display: flex !important;
  animation: slideInRight 1s;
}

.displayFlexOut{
  opacity: 1 !important;
  display: block;
  animation: slideOutRight 1s;
}




.contactForm form .PackNom div {
  transition: width 2s;
  display: flex;
  flex-direction: column;
  width: 100%;

}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: inherit;
  font-size: 16px;
}

textarea {
  border-radius: 3px;
  min-height: 100px;
  height: 200px;
  max-height: 400px;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
}

.cf-turnstile{
  padding: 15px 0;
  color: white;
}

@media only screen and (max-width: 680px) {
  .contactForm form .PackNom  {
    display: block;
    
  }

  @keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(100vw);
      height: 0 !important;
    }
    to {
      transform: translateX(0);
      opacity: 1;
      height: 15rem !important;
    }
  }
  @keyframes heightIn {
    0% {
      max-height: 0;
    }
  
    100% {
      max-height: 15em;
    }
  }
  @keyframes slideOutRight {
    0% {
      max-height: 100% !important;
      opacity: 1 !important;
      transform: translateX(0);
      display: block;
    }
    100% {
      max-height: 0% !important;
      transform: translateX(100vw);
      opacity: 0 !important;
      display: block !important;
    }
  }
  @keyframes heightOut {
    0% {
      max-height: 15em;
    }
  
    100% {
      max-height: 0;
    }
  }
  
  .displayFlex{
    animation: slideInRight 1s, heightIn 1s;
  }
  
  .displayFlexOut{
    animation: slideOutRight 1s, heightOut 1s;
  }

  @keyframes leftSelectIn {
    from {
      width: 100%;
    }
    to {
    }
  }
  
  @keyframes leftSelectOut {
    from {
      width: 100%;
    }
    to {
      width: 100%;
    }
  }
}