.right_partenaire{
    width: 100%;
}

.modal {
    scrollbar-width: none;
}

.modal-content {
    
    margin-bottom: 200px !important;
}


#modalModifPartenaire {
    overflow-y: hidden;
    display: block;
    position: fixed;
    z-index: 6;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#modalModifPartenaire .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 1500px;
    width: 85%;
}
.closeModifDiv{
    display: flex;
    justify-content: right;
}


#modalModifPartenaire .modal-content .closeModif {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.35s ease-in-out;
}

.closeModif{
    position: absolute;
}

#modalModifPartenaire .modal-content .closeModif:hover,
#modalModifPartenaire .modal-content .closeModif:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;

}

#modalModifPartenaire .modal-content .formBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formBox p{
   text-align: center;
}

.imagePartenaire {
    max-width: 250px;
    width: 95%;
    max-height: 250px;
    height: 95%;
    display: flex;
    justify-content: center;
    aspect-ratio: initial;
}

.partenaires_grid-item img {
    transition: all 0.3s ease;
}

.partenaires_grid-item img:hover {
    opacity: 0.7;
    scale: 1.05;
}

.formBox>* {
    margin: 20px 0;
}

#offres_decouvrir {
    margin: 0 !important;
}